<?xml version='1.0' encoding='ISO-8859-1' ?>
<?xml:stylesheet type='text/xsl' ?>
<Configurazione>
	<ProfiliFunzioni/>
	<configPath/>
	<serverName>PCWIN001</serverName>
	<serverPort/>
	<protocol/>
	<completa>N</completa>
	<InfoApplicazione>
		<nome>ARCONNOR</nome>
		<descrizione>Portale A.R. Connor</descrizione>
		<autore>R.Albertoni</autore>
		<versione>1.0</versione>
		<dataVersione>2003-12-08</dataVersione>
	</InfoApplicazione>
	<webPath></webPath>
	<servletPath></servletPath>
	<minutiTimeout>30</minutiTimeout>
	<minutiValidita>90</minutiValidita>
	<urlErrore>errore.jsp</urlErrore>
	<urlUscita>index.html</urlUscita>
	<funzioneDefault/>
	<fonteDefault>BIM</fonteDefault>
	<traceLevel/>
	<Parametri>
		<elementi>3</elementi>
		<classe>it.bma.comuni.ParametroConfigurazione</classe>
		<ParametroConfigurazione>
			<tipo>SOCIETA</tipo>
			<nome>SOCIETA</nome>
			<valore>AR</valore>
		</ParametroConfigurazione>
		<ParametroConfigurazione>
			<tipo>APPLICAZIONE</tipo>
			<nome>DIVISA</nome>
			<valore>EUR</valore>
		</ParametroConfigurazione>
		<ParametroConfigurazione>
			<tipo>APPLICAZIONE</tipo>
			<nome>URL-SERVIZI</nome>
			<valore>http://localhost/arconnor/BmaServizi</valore>
		</ParametroConfigurazione>
		<ParametroConfigurazione>
			<tipo>APPLICAZIONE</tipo>
			<nome>FONTE-TARGET</nome>
			<valore>AR2002</valore>
		</ParametroConfigurazione>
	</Parametri>
	<FontiJdbc>
		<elementi>2</elementi>
		<classe>it.bma.comuni.BmaJdbcSource</classe>
		<FonteJdbc>
			<nome>BIM</nome>
			<driver>ianywhere.ml.jdbcodbc.IDriver</driver>
			<url>jdbc:odbc:dsn=BIM</url>
			<user>DBA</user>
			<pass>sql</pass>
			<schema>DBA</schema>
			<prefix>%</prefix>
		</FonteJdbc>
		<FonteJdbc>
			<nome>PDAS</nome>
			<driver>ianywhere.ml.jdbcodbc.IDriver</driver>
			<url>jdbc:odbc:dsn=PDAS</url>
			<user>DBA</user>
			<pass>sql</pass>
			<schema>DBA</schema>
			<prefix>PD_%</prefix>
		</FonteJdbc>
		<FonteJdbc>
			<nome>PRODOTTI-DB2</nome>
			<driver>COM.ibm.db2.jdbc.net.DB2Driver</driver>
			<url>jdbc:db2://BKPD0755/PDAS</url>
			<user>db2admin</user>
			<pass>db2admin</pass>
			<schema>DB2ADMIN</schema>
			<prefix>PD_%</prefix>
		</FonteJdbc>
		<FonteJdbc>
			<nome>AR2002</nome>
			<driver>jdbc.gupta.sqlbase.SqlbaseDriver</driver>
			<url>jdbc:sqlbase://pcwin001/AR2002</url>
			<user>SYSADM</user>
			<pass>SYSADM</pass>
			<schema>default</schema>
			<prefix>%</prefix>
		</FonteJdbc>
	</FontiJdbc>
</Configurazione>
