<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>BmaServlet</servlet-name>
		<description>BmaServlet</description>
		<servlet-class>it.bma.web.BmaServlet</servlet-class>
		<init-param>
			<param-name>uno</param-name>
			<param-value>none</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BmaServizi</servlet-name>
		<description>BmaServizi</description>
		<servlet-class>it.bma.web.BmaServiziServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BmaServlet</servlet-name>
		<url-pattern>/BmaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BmaServizi</servlet-name>
		<url-pattern>/BmaServizi</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
  <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
</web-app>
