BODY, TD, A {
	font-size : 10px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
textarea.DataRecord   { font-family: Courier; font-size: 10 px }
input.DataRecord   { font-family: Courier; font-size: 10 px }
TD.DataRecord   { font-family: Courier; font-size: 10 px }
TD.Warning  {
	font-size : 12px;
	font-weight : bold;
	background-color: #E5E5E5;
	color : Red;
}
input.DetailData { font-size: 9 px; font-weight: bold }
textarea.DetailData {
	font-size: 11 px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
select.DetailData { font-size: 9 px; font-weight: bold }
H1 { 
	font-size : 24px;
	color:#31659C;
}
H2 { 
	font-size : 18px;
	color:#31659C;
}
H3 {
	font-size : 14px;
	color:#31659C;
}
H4 {
	font-size : 12px;
	color:#31659C;
}
H5 {
	font-size : 10px;
	color:#31659C;
}

TABLE.Bordo{
	margin : 0;
	border-width : 1px 1px 1px 1px;
	border-style : solid;
	border-color : #31659C;
}
/* TABELLA MASTER */
TD.MasterTitle {
	font-size : 24px;
	color:#31659C;
	font-weight : bold;
}
TD.MasterLabel {
	font-style : normal;
	font-size : 12px;
	font-weight : bold;
	color: white;
	background-color : #31659C;
}
td.MasterData { font-size: 12px; font-weight: bold; background-color: #E5E5E5 }
TD.DetailTitle {
	font-size : 12px;
	font-weight : bold;
	color: white;
	background-color : #31659C;
}
TD.Action {
	font-size : 12px;
	font-weight : bold;
	color: white;
	background-color : #31659C;
	border : none #31659C;
}
td.DetailLabel {
	background-color: #BBBBFF;
	font-style: normal;
	font-weight: bold
}
td.DetailData { background-color: #E5E5E5 }
td.DetailDataRed {
	background-color: #E5E5E5;
	color : Red;
	font-weight : bold;
}

td.TitleLevel-1 { font-size : 14px; background-color : #31659C; color: white; font-weight : bold; }
td.LabelLevel-1 {
	font-size : 12px;
	background-color : #BBBBFF;
	color: white;
	font-weight: bold;
	font-style: normal;
}
td.DataLevel-1  { font-size : 12px; background-color : #E5E5E5; color: #ff6347; font-weight: bold; }

td.TitleLevel-2 { font-size : 13px; background-color : #31659C; color: white; font-weight : bold; }
td.LabelLevel-2 {
	font-size : 11px;
	background-color : #BBBBFF;
	color: white;
	font-weight: bold;
	font-style: normal;
}
td.DataLevel-2  { font-size : 11px; background-color : #E5E5E5; color: #778899; font-weight: bold; }

td.TitleLevel-3 { font-size : 12px; background-color : #31659C; color: white; font-weight : bold; }
td.LabelLevel-3 {
	font-size : 10px;
	background-color : #BBBBFF;
	color: white;
	font-weight: bold;
	font-style: normal;
}
td.DataLevel-3  { font-size : 10px; background-color : #E5E5E5; color: #6b8e23; font-weight: bold; }

td.TitleLevel-4 { font-size : 11px; background-color : #31659C; color: white; font-weight : bold; }
td.LabelLevel-4 {
	font-size : 9px;
	background-color : #BBBBFF;
	color: white;
	font-weight: bold;
	font-style: normal;
}
td.DataLevel-4  { font-size :  9px; background-color : #E5E5E5; color: black; font-weight: bold; }

a.MenuCorrente {
	background-color: #E5E5E5;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: #9C0000;
}
a.MenuOpzioni {
	background-color: #E5E5E5;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: #9C0000;
}
a.Menu {
	background-color: #BBBBFF;
	font-style: normal;
	font-weight: bold;
	font-size : 11px;
}
a.Menu:visited {
	background-color: #BBBBFF;
	font-style: normal;
	font-weight: bold;
	font-size : 11px;
}
a.Menu:hover {
	background-color: #9CFFCE;
	font-style: normal;
	font-weight: bold;
	font-size : 11px;
}
a.Button {
	font-size : 12px;
	font-weight : bold;
	color: white;
	background-color : #31659C;
	text-align : center;
}
a.Button:hover {
	color : Yellow;
}
DIV.Bordo {
	border : 1px solid Navy;
	padding : 2 2 2 2;
}